.sub{
    width: 250px;
    height: 350px;
    background-color: rgb(255, 246, 231);
    border-radius: 10px;
}

.mark{
    color: white;
    background-color: blueviolet;
    width: 80px;
    height: 20px;
    line-height: 20px;
    border-radius: 0 15px 15px 0;
}

.price-new{
    color: red;
}

.price-old{
    color: rgb(122, 122, 122);
}